doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="owlcarousel/assets/owl.carousel.min.css")
        link(rel="stylesheet", href="owlcarousel/assets/owl.theme.default.min.css")
        script(src="https://code.jquery.com/jquery-3.7.0.min.js")
        script(src="owlcarousel/owl.carousel.min.js")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css')
        link(rel="stylesheet", href="./css/style.css")
        title CRIPTOBIT
    body
        include ./views/header
        main 
            include ./views/mixin
            include ./views/keyvisual
            include ./views/auctions
            include ./views/creatives
            include ./views/explore
            include ./views/collections
            include ./views/banner
            include ./views/blog
        include ./views/footer
        include ./views/scroll
        script(src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js')
        script(src='./js/style.js')
        script(src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js")

