section.auctions 
    .wrapper
        .auctions-top 
            h4.title-service Auctions
            .container-title 
                h2.title-section Live Auctions
                a(href="")  Explore More 
                    i.fas.fa-arrow-right
        .auctions-products
            .container-auctions  
                +ListAuctions({imgAuthor:"./images/h.png",author:"@aljin_altan",imgAuctions:"./images/1.gif",like:"1.3k",number:["-202","-20","-50","-10"],title:"Human Hands Vector",price:"138.50 ETH",stock:"5 in stock"})
            .container-auctions  
                +ListAuctions({imgAuthor:"./images/h.png",author:"@aljin_altan",imgAuctions:"./images/2.gif",like:"1.3k",title:"Human Hands Vector",price:"138.50 ETH",stock:"5 in stock"})
            .container-auctions  
                +ListAuctions({imgAuthor:"./images/h.png",author:"@aljin_altan",imgAuctions:"./images/3.gif",like:"1.3k",title:"Human Hands Vector",price:"138.50 ETH",stock:"5 in stock"})
            .container-auctions  
                +ListAuctions({imgAuthor:"./images/h.png",author:"@aljin_altan",imgAuctions:"./images/4.gif",like:"1.3k",number:["36","10","33","57"],title:"Human Hands Vector",price:"138.50 ETH",stock:"5 in stock"})