section.banner 
    .wrapper 
        .content-banner 
            h4.title-text HOW TT WORKS
            h2.title-banner Create, Sell and Collect <br> NFT Digital Assests
            p Buy and Sales 100+ Cryptocurrencies with 20+ flat currencies market using bank transfers or your credit/debit card.
            a.button-banner(href="") Create NFT 
                i.fas.fa-arrow-right
        .image-banner 
            img(src="./images/img1.png", alt="")
