section.blog 
    .wrapper 
        .creatives-top 
            h4.title-service BLOG POST
            .container-title 
                h2 Latest Articles
        .list-blog 
            .container-blog 
                +ListBlog({img:"./images/blog3.gif",date:"22 Feb, 2022",name:"John Doe", title:"Top 10 NFT Projects That Shocked The Internet having trouble"})
            .container-blog 
                +ListBlog({img:"./images/blog3.gif",date:"22 Feb, 2022",name:"John Doe", title:"Top 10 NFT Projects That Shocked The Internet having trouble"})
            .container-blog 
                +ListBlog({img:"./images/blog3.gif",date:"22 Feb, 2022",name:"John Doe", title:"Top 10 NFT Projects That Shocked The Internet having trouble"})