section.collections
    .wrapper 
        .creatives-top 
            h4.title-service COLLECTIONS
            .container-title 
                h2 Popular Collections
                a(href="")  Explore More 
                    i.fas.fa-arrow-right
        .list-collections
            .collections-container 
                +ListCollections({imgSmallLeft:"./images/extra-small-1.gif",imgSmallRight:"./images/extra-small-2.gif",imgBigBottom:"./images/small-1.gif",imgBig:"./images/big-1.gif",imgAuthor:"./images/peple1.png",title:"Popular Collections",name:"Alexon",heart:"1.3k"})
            .collections-container 
                +ListCollections({imgSmallLeft:"./images/extra-small-1.gif",imgSmallRight:"./images/extra-small-2.gif",imgBigBottom:"./images/small-1.gif",imgBig:"./images/big-1.gif",imgAuthor:"./images/peple1.png",title:"Popular Collections",name:"Alexon",heart:"1.3k"})
            .collections-container 
                +ListCollections({imgSmallLeft:"./images/extra-small-1.gif",imgSmallRight:"./images/extra-small-2.gif",imgBigBottom:"./images/small-1.gif",imgBig:"./images/big-1.gif",imgAuthor:"./images/peple1.png",title:"Popular Collections",name:"Alexon",heart:"1.3k"})
