section.creatives
    .wrapper 
        .creatives-top 
            h4.title-service CREATIVES
            .container-title 
                h2 Top Sellers
        .creatives-list.owl-carousel.owl-theme
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller2.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller3.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller4.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller7.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})
            .container-creatives.item
                +ListCreatives({img:"./images/seller1.png",title:"Elizabeth",text:"135.80 ETH"})