section.explore
    .wrapper 
        .creatives-top 
            h4.title-service EXPLORE
            .container-title 
                h2 New Item
                a(href="")  Explore More 
                    i.fas.fa-arrow-right
        .explore-main 
            .list-explore 
                +ListExplore({img:"./images/2.gif",heart:"1.3k",title:"Travell digital Artisian",imgAuthor:"./images/explore1.png",author:"Alisha Token",price:"30.000 ETH"})
            .list-explore 
                +ListExplore({img:"./images/2.gif",heart:"1.3k",title:"Travell digital Artisian",imgAuthor:"./images/explore1.png",author:"Alisha Token",price:"30.000 ETH"})
            .list-explore 
                +ListExplore({img:"./images/2.gif",heart:"1.3k",title:"Travell digital Artisian",imgAuthor:"./images/explore1.png",author:"Alisha Token",price:"30.000 ETH"})
            .list-explore 
                +ListExplore({img:"./images/2.gif",heart:"1.3k",title:"Travell digital Artisian",imgAuthor:"./images/explore1.png",author:"Alisha Token",price:"30.000 ETH"})
            .list-explore 
                +ListExplore({img:"./images/2.gif",heart:"1.3k",title:"Travell digital Artisian",imgAuthor:"./images/explore1.png",author:"Alisha Token",price:"30.000 ETH"})
            .list-explore 
                +ListExplore({img:"./images/2.gif",heart:"1.3k",title:"Travell digital Artisian",imgAuthor:"./images/explore1.png",author:"Alisha Token",price:"30.000 ETH"})
            .list-explore 
                +ListExplore({img:"./images/2.gif",heart:"1.3k",title:"Travell digital Artisian",imgAuthor:"./images/explore1.png",author:"Alisha Token",price:"30.000 ETH"})
            .list-explore 
                +ListExplore({img:"./images/2.gif",heart:"1.3k",title:"Travell digital Artisian",imgAuthor:"./images/explore1.png",author:"Alisha Token",price:"30.000 ETH"})
        .button-load 
            a(href="") Load More 
                i.fas.fa-sync-alt
            