footer.footer 
    .wrapper 
        .footer-container 
            .footer-logo 
                a(href="#")
                    img(src="./images/logo (4).png", 
                    alt="") 
                p.text-footer Buy and Sales 100+ Cryptocurrencies with <br> flat currencies market using bank <br> transfer your credit/debit card.
                .follow-footer
                    h4 Follow Us
                    ul 
                        li  
                            a(href="#")
                                i.fab.fa-facebook-f
                        li 
                            a(href="#")
                                i.fab.fa-twitter
                        li
                            a(href="#")
                                i.fab.fa-linkedin-in
                        li
                            a(href="#")
                                i.fab.fa-pinterest-p
            .footer-menu
                .container-menu 
                    +ListMenu({title:"About"},"Explore","How it Works","Supports","Become Partner","FAQ")
                .container-menu 
                    +ListMenu({title:"Marketplace"},"Sell Assests","Your Purches","Gelary","Terms Condition","Support")
                .container-menu 
                    +ListMenu({title:"Company"},"About","Our Mission","Blog","Contact Us","Services")
                .container-menu 
                    +ListMenu({title:"Community"},"NFT Token","Voting","Discussion","Suggest Feature")
        .footer-bottom 
            .coppry-right 
                span All Right Reserved © cryptobit Design By:
                    a(href="#")  Dream IT.
                