header.header
    .wrapper 
        a.header-logo(href="#")
            img(src="./images/logo (4).png" width="183" height ="51", alt="") 
        nav.header-menu 
            ul.list-menu
                li.item-list 
                    a.item-menu(href="#") Home 
                        i.fas.fa-chevron-down
                    ul.sub-menu 
                        li.item-sub 
                            a(href="")  Main Home    
                        li.item-sub 
                            a(href="")  Light Version   
                        li.item-sub 
                            a(href="")  Dark Version  
                        li.item-sub 
                            a(href="")  Main Contact    
                        li.item-sub 
                            a(href="")  Main Abouts    
                li.item-list 
                    a.item-menu(href="#") Xplore 
                li.item-list 
                    a.item-menu(href="#") Activity 
                li.item-list 
                    a.item-menu(href="#") Blog   
                        i.fas.fa-chevron-down
                    ul.sub-menu 
                        li.item-sub 
                            a(href="")  Main Home    
                        li.item-sub 
                            a(href="")  Light Version    
                li.item-list 
                    a.item-menu(href="#") Contact 
                li.item-list 
                    a.item-menu(href="#") Pages 
        .header-function
            .search-header
                input(type="text" placeholder="Search Here")
                i.icon-search.fa.fa-search
            .notification-header
                i.icon-notification.fas.fa-bell
                    span 6
            button.primary-button Create 
            a.user-header(href="#") 
                img(src="./images/user.png", alt="") 
        .icon-menu
            button.icon-button 
                i.fas.fa-bars
            