section.keyvisual 
    .wrapper 
        .content-keyvisual 
            h1.title-primary Discover Unique <br> and <span> Incredible </span> rare Digital Art
            p.text-banner Buy and Sales 100+ Cryptocurrencies with 20+ flat currencies has an using bank transfers or your credit.
            .button-keyvisual 
                a.button-explore(href="")      
                    i.fa.fa-rocket 
                    span Explore Now
                a.button-create(href="") 
                    span Create NFT    
                        i.fas.fa-arrow-right
        .list-container                  
            .swiper.mySwiper
                .swiper-wrapper
                    .swiper-slide
                        +ListSwiper({img:"./images/01.gif",title:"Twilight Fracture City",money:"0.34 ETH",heart:"230"})
                    .swiper-slide
                        +ListSwiper({img:"./images/02.gif",title:"Twilight Fracture City",money:"0.34 ETH",heart:"230"})
                    .swiper-slide
                        +ListSwiper({img:"./images/04.jpg",title:"Twilight Fracture City",money:"0.34 ETH",heart:"230"})